/* COMMON */

body {
    margin: 0px;
    padding: 0px;
    background: #666;
}

.hidden {
    display: none;
}

/* BAR */

.bar {
    background-color: rgba(31, 82, 1, 0.4);
    border: solid 1px #000000;
    border-radius: 4px;

    /* location */
    position: fixed;
}

.bar_collapsed {
    width: 200px;
    height: 500px;
    left: 800px;
    -webkit-transition: All 1s ease;
}

.image_box {
    margin: 4px;
    border: 1px solid #000;
    height: 120px;
}

.image_box img {
    height: 100%;
}

.bar_expanded {
    width: 700px;
    height: 500px;
    left: 300px;
    -webkit-transition: All 1s ease;
}

/* LIGHT BOX */

.light_box_wrapper {
    border: 4px solid #fff;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;

}

.light_box_image_holder {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

.light_box_image_holder img {
    /*height: 100%;*/
    margin: auto;
    -webkit-box-flex: 1;
}

.light_box_wrapper_inactive {
    width: 100px;
    height: 80px;
    margin-left: -50px;
    margin-top: -40px;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
}

.light_box_wrapper_active {
    z-index: 100;
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
    opacity: 1;
    -webkit-transition: all 0.25s ease;
}

/* LIGHT BOX MENUS */
.light_box_menu_bottom {
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-pack: justify;*/
    padding: 4px 0px;
    position: absolute;
    top: 564px;
    left: 0px;
    width: 100%;
    height: 28px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(94, 112, 151, 1)), color-stop(100%, rgba(46, 71, 124, 1)));
}


.light_box_menu_bottom_inactive {
    opacity: 0;
    -webkit-transition: all 0.25s ease;
}

.light_box_menu_bottom_active {
    opacity: 1;
    -webkit-transition: all 0.25s ease;
}

.light_box_menu_top {
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-pack: justified;*/

    padding: 4px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 28px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(94, 112, 151, 1)), color-stop(100%, rgba(46, 71, 124, 1)));
}

.light_box_menu_top_inactive {
    opacity: 0;
    -webkit-transition: all 0.25s ease;
}

.light_box_menu_top_active {
    opacity: 1;
    -webkit-transition: all 0.25s ease;
}

/* BUTTONS */

a.ios_button {
    /*border: solid 1px #333;*/
    border-radius: 4px;
    -webkit-box-shadow:inset 0px 0px 2px #000;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(78, 100, 147, 1)), color-stop(100%, rgba(42, 68, 125, 1)));

    text-decoration: none;

    padding: 4px 12px;

    display: inline-block;
    width: auto;
}

a.ios_button span {
    font: normal 14px/1em Arial;
    letter-spacing: -1px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.45) 0 -1px 0;
}

a.ios_button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(40, 50, 75, 1)), color-stop(100%, rgba(21, 34, 62, 1)));
}

/* OVERLAY */

.overlay {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
}

.overlay_active {
    z-index: 1;
    opacity: 0.5;
    /*-webkit-transition: all 0.1s ease;*/
}

.overlay_inactive {
    z-index: -1;
    opacity: 0;
    /*-webkit-transition: all 0.1s ease;*/
}
