/* COMMON */

body {
    margin: 0px;
    padding: 0px;
    background: #666;
}

.hidden {
    display: none;
}

/* BAR */

.bar {
    background-color: rgba(31, 82, 1, 0.4);
    border:solid 1px #000000;
    border-radius: 4px;

    /* location */
    position: fixed;
}

.bar_collapsed {
    width: 200px;
    height: 500px;
    left: 800px;
    -webkit-transition: All 1s ease;
}

.image_box {
    margin: 4px;
    border: 1px solid #000;
    height: 120px;
}

.image_box img {
    height: 100%;
}

.bar_expanded {
    width: 700px;
    height: 500px;
    left: 300px;
    -webkit-transition: All 1s ease;
}

/* LIGHT BOX */

.light_box_wrapper {
    border: 4px solid #fff;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 4px;
    text-align: center;
}

.light_box_wrapper img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.light_box_wrapper_inactive {
    width: 100px;
    height: 80px;
    margin-left: -50px;
    margin-top: -40px;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
}

.light_box_wrapper_active {
    z-index: 100;
    width: 700px;
    height: 500px;
    margin-left: -350px;
    margin-top: -250px;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
}

/* OVERLAY */

.overlay {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
}

.overlay_active {
    z-index: 1;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
}

.overlay_inactive {
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
}